@import url('https://fonts.googleapis.com/css?family=Anton|Nova+Square|Orbitron');
body{
  background-color:grey;
  border:0px;
}
td{
  color:white;
  background-color:black;
}
table{
  border-collapse: collapse;
}
.menu{
  position:fixed;
  margin:0px;
  font-family:'Orbitron', sans-serif;
}
h1{
  font-family:'Anton', sans-serif;
  text-align:center;
  padding:50px;
  font-size:75px;
  background-image: url('Images/space.jpg');
  color:white;
  padding-top:100px;
  padding-bottom:100px;
  margin-right: 250px;
  margin-left: 250px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius:10px;
}
.options{
  margin-left: 15px;
  margin-right: 15px;
}
p{
  font-family: arial;
  background-color:white;
  border-radius:10px;
  padding: 10px;
  margin-left: 250px;
  margin-right: 250px;
}
table{
  margin-left: 250px;
  margin-right: 257px;
}
