@import url('https://fonts.googleapis.com/css?family=Anton|Nova+Square|Orbitron');
body{
  background-color: black;
}
td{
  color:white;
  font-family:arial;
  background-color:black;
}
table{
  border-collapse: collapse;
}
.menu{
  position:fixed;
  margin:0px;
}
h1{
  font-family:'Anton', sans-serif;
  text-align:center;
  padding:50px;
  font-size:75px;
  background-image: url('Images/space.jpg');
  color:white;
  margin:10px;
  width:100%;
  padding-top:100px;
  padding-bottom:100px;
}
