@import url('https://fonts.googleapis.com/css?family=Anton|Nova+Square|Orbitron');
body{
  background-color: black;
}
td{
  color:white;
  background-color:black;
}
table{
  border-collapse: collapse;
}
.menu{
  position:fixed;
  margin:0px;
  font-family:'Orbitron', sans-serif;
}
h1{
  font-family:'Anton', sans-serif;
  text-align:center;
  padding:50px;
  font-size:75px;
  background-image: url('Images/space.jpg');
  color:white;
  width:100%;
  padding-top:100px;
  padding-bottom:100px;
  margin:0px;
}
.options{
  margin-left: 15px;
  margin-right: 15px;
}
