@import url('https://fonts.googleapis.com/css?family=Creepster|Crimson+Text|Eater');

body{
    background-image: url("images/haunted.jpg");
    margin: 0px;
    padding: 0px;
}
h1{
    color:#2cbf00;
    text-align: center;
    font-family: 'Eater', cursive;
    font-size: 1000%;
    font-size:10vw;
    padding: 10%;
    margin-bottom: 5%;
}
.text1 {
    background-color:#212121;
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.text2{
    background-color:#111111;
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
}
h2{
    text-align: center;
    font-family: 'Creepster', cursive;
    color:#2cbf00;
}
p{
    font-family: 'Crimson Text', serif;
    color: whitesmoke;
}