@import url('https://fonts.googleapis.com/css?family=Germania+One|Lancelot|Pirata+One');

body{
    background-image: url("images/castle.jpg");
    margin: 0px;
    padding: 0px;
}
h1{
    color:#4ca9db;
    text-align: center;
    font-family: 'Pirata One', cursive;
    font-size: 1000%;
    font-size:10vw;
    padding: 10%;
    margin-bottom: 10%;
}
.text1 {
    background-color:#344650;
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.text2{
    background-color:#343f50;
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
}
h2{
    text-align: center;
    font-family: 'Germania One', cursive;
    color:white;
}
p{
    font-family: 'Lancelot', cursive;
    color: whitesmoke;
}